.well
  %h4
    = image_tag icon, class: "icon"
    = t("side_menu.recent_blog_comments")
  %ul.list-unstyled
    - @recent_blog_comments.each do |comment|
      - author = comment.admin ? "***" : comment.author
      %li= link_to comment.blog.title + ": " + author + " (" + l(comment.created_at, format: :very_short) + ")", blog_path(comment.blog_id)
