- model_class = Ticket

= render "condition"
#tickets_list= render partial: "tickets", locals: { items: @tickets }

= link_to t('.new', :default => t("helpers.links.new")), new_admin_ticket_path, :class => 'btn btn-default'
